* {
    box-sizing: border-box;
  }            
  body{
    background-color: #2F1B41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header { 
    background-color: #1C0C5B;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  } /*Style class Header*/

  nav {
    float: left;
    color: white;
    width: 25%;
    height: 350px;
    background: #3D2C8D;
    padding: 20px;
  }     /*Style class Nav*/
      nav ul {
      list-style-type: none;
      padding: 0;
      }  /*Style Ul di Nav*/
      a {
        color: white;
      }

  article {
    float: left;
    color: white;
    padding: 20px;
    width: 50%;
    background-color: #52057B;
    height: 350px;
  } /*Style class Article*/

  aside {
    float: left;
    color: white;
    padding: 20px;
    width: 25%;
    background-color: #3B185F;
    height: 350px;
    font-size: 15px;
  } /*Style class Aside*/

  .content::after {
    content: "";
    display: table;
    clear: both;
  }   /*Clear yang ada sesudah class Content*/

  footer {
    background-color: #3F0071;
    padding: 10px;
    text-align: center;
    color: white;
  } /*Style class footer*/    

  @media (max-width: 750px) {
    nav, article,aside {
      width: 100%;
      height: auto;
        }
    }